<form [hidden]="submitted">
  <div class="form-group">
    <label >Name:</label>
    <input type="text" class="form-control" name="name" [(ngModel)] = "name">
  </div>
  <div class="form-group">
    <label >Email:</label>
    <input type="email" class="form-control" name="email" [(ngModel)] = "email">
  </div>

  <div class="form-group">
    <label > Message:</label>
    <textarea name="message" [(ngModel)] = "message"></textarea>
  </div>

  <button type="submit" class="btn btn-default" (click)="sendMessage()">Submit</button>
</form>
<label [hidden]="!submitted">Your message has been received</label>


